
{% extends 'base.html' %}
{% block bodyblock %}
<script> document.body.style.backgroundColor = "blue"; console.log("blue");</script>
HELLO
<script>
const alertMessage = alert('Welcome to the website my dude!');
const userInput = prompt("What is your name friend?");
if (userInput.toLocaleLowerCase().includes("bull")) {
    const coolString = `${userInput}, you are most welcome here you man of vigor!`;
    alert(coolString);
} else {
    const coolString = `${userInput}, you are most welcome here!`;
    alert(coolString);
}
</script>
<script>
    // For objects that are json serializable use the tojson filter
    // The incoming json data is passed into this variable
    var js_data = {{data|tojson}};
    for (v in js_data) {
        greet_msg = "Hi " + js_data[v]['name'] + " from js";
        console.log(greet_msg);
        var tag = document.createElement("li");
        var text = document.createTextNode(greet_msg);
        tag.appendChild(text);
        var element = document.getElementById("1337"); // This id can be found on the file base.html
        element.appendChild(tag);
    }
    </script>
{% for k,v in data.items() %}
    {% for sk, sv in v.items()%}
        {% if sk=='name' %}
            <li>Hi {{sv}} from Jinja</li>
        {% endif %}
    {% endfor %}
{% endfor %}

<!-- Passing jinja values to Javascript -->
<script></script>
{% endblock bodyblock %}

{% block last %}
<script>
    console.log(me);
</script>
<!-- This button is using the hello() found in /static/js/test.js -->
<button type="button" onclick="hello('button')">Click Me!</button>
<li onclick="hello('list')">HELLO</li>
<div id='p2'>DIVISION</div>

<script> // Directly chaning the css through the javascript
    script_div = document.getElementById("p2");
    script_div.style.color = "green";
    script_div.style.backgroundColor = "yellow";
    script_div.style.fontSize = '30px';
</script>
{% endblock last %}