
{% extends 'base.html' %}
{% block bodyblock %}
<script> document.body.style.backgroundColor = "red";</script>
HELLO
<script>
const alertMessage = alert("Welcome to the website my mando!");
const userInput = prompt("What is your name friend?");
if (userInput.toLocaleLowerCase().includes("bull")) {
    const coolString = `${userInput}, you are most welcome here you man of vigor!`;
    alert(coolString);
} else {
    const coolString = `${userInput}, you are most welcome here!`;
    alert(coolString);
}
</script>
<script>
    // For objects that are json serializable use the tojson filter
    // The incoming json data is passed into this variable
    var js_data = {{data|tojson}};
    for (v in js_data) {
        greet_msg = "Hi " + js_data[v]['name'] + " from js";
        console.log(greet_msg);
        var tag = document.createElement("li");
        var text = document.createTextNode(greet_msg);
        tag.appendChild(text);
        var element = document.getElementById("1337"); // This id can be found on the file base.html
        element.appendChild(tag);
    }
    </script>
{% for k,v in data.items() %}
    {% for sk, sv in v.items()%}
        {% if sk=='name' %}
            <li>Hi {{sv}} from Jinja</li>
        {% endif %}
    {% endfor %}
{% endfor %}
<video controls> <!-- Create a video element-->
    <source src="{{ url_for('static', filename='video/movie.mp4')}}" type="video/mp4" width="520" height="200" />
</video>
<p>
    <input id="play" type="submit" value="Play" />
    <input id="pause" type="submit" value="Pause" />
    <input id="restart" type="submit" value="Go to the Beginning" />
    <input id="skip-forward" type="submit" value="Go Forward 10 Seconds" />
    Timestamp: <span id="timestamp">0:00</span>
</p>
<script type= "text/javascript" src="/static/js/media.js"></script>

<!-- Passing jinja values to Javascript -->
<script></script>
{% endblock bodyblock %}